/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body{
    margin-top: 100px !important;
    background-color: #0D0D0D !important;
    color: #F2E205 !important;
    transition: 1.0s;
}

html {
    scroll-behavior: smooth;
}

/* Borders */
.borderPhoto{
    width: 200px !important;
    height: 200px !important;
}

.myBorderYellow{
    border: 1px solid#F2E205 !important;
}

.myBorderBlack{
    border: 1px solid#0D0D0D !important;
}

/* Colors */
.bgMyBlack {
    background-color: #0D0D0D !important;
}

.bgMyBlack2{
    background-color: #262626 !important;
}

.bgMyYellow1{
    background-color: #EAF205 !important;
}

.bgMyYellow2{
    background-color: #F2E205 !important;
}

.bgMyYellow3{
    background-color: #BFB304 !important;
}

.bgMyYellow4{
    background-color: #736B02 !important;
}


/* Fontes */
.fontAudiowide{
    font-family: 'Audiowide', cursive;
}

.fontOrbitron{
    font-family: 'Orbitron', sans-serif;
}


.mySpanColor{
    color: #F2E205 !important;
}

.spanContact{
    font-size: 19px;
}

.separator{
    border: 4px solid #BFB304;
    width: 30%;
}

.myProgressBar{
    width: 100% !important;
}

.blockHabilidades{
    height: 200px;
    width: 200px;
}

.myBtnColor{
    color: #F2E205 !important;
}

.myBtnColor:hover{
    font-weight: bold !important;
    color: #0D0D0D !important;
    background-color: #F2E205 !important;
    /* box-shadow: 0px 8px 16px rgba(242, 226,	5, 0.863) */
    
}

.boxShadow{
    box-shadow: 4px 4px 4px black;
}

.hide{
    display: none;
}

.smFont{
    font-size: 19px;
}

#formacao{
    width: 40%;
}

.imgCard{
    opacity: 0.5;
}

.cardImgSize{
    max-height: 173px;
}

.contact{
    width: 300px;
    height: 300px;
}

.iconContact{
    font-size: 100px;
}

.whatsApp{
    position: absolute;
    left: 40%;
    top: 38%;
    visibility: hidden;
}

#blockWhatsApp:hover .whatsApp{
    visibility: visible;
    color: white !important;
    opacity: 1 !important;
}

#blockWhatsApp:hover .blockPhone{
    visibility: hidden;
}

#blockWhatsApp:hover{
    background-color: #5cb85c;
    border-color: white !important;
    opacity: 0.6;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 40px;
    outline: none;
    color: white;
    width: 70px;
    height: 70px;
    border: none !important;
    background-color: #BFB304 !important;
    opacity: 0.5;
  }

/* Media */
@media screen and (max-width: 990px) {

    #formacao{
        width: 100%;
    }

    .hide {
      display: inline;
    }

    a{
        font-size: 24px;
        margin-top: 50px;
    }
    
    #lista{
        margin-top: 10px;
    }

    #imgLogo{
        position: absolute;
        top: 250px;
        left: 10px;
        opacity: 0.7;
    }

    #subtitleLogo{
        font-family: 'Orbitron', sans-serif;
        color: black;
        opacity: 0.7;
        font-size: 23px;
        position: absolute;
        top: 500px;
    }
}

@media screen and (max-width: 430px) {
    .title{
        Font-size: 32px;
    }

    .subtitle{
        font-size: 26px;
    }

    #formacao{
        font-size: 12px;
    }
}