/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

body{
    margin-top: 100px !important;
    background-color: #0D0D0D !important;
    color: #F2E205 !important;
}


/* Borders */
.borderPhoto{
    width: 200px !important;
    height: 200px !important;
}

.myBorderYellow{
    border: 1px solid#F2E205 !important;
}


/* Colors */
.bgMyBlack {
    background-color: #0D0D0D !important;
}

.bgMyBlack2{
    background-color: #262626 !important;
}

.bgMyYellow1{
    background-color: #EAF205 !important;
}

.bgMyYellow2{
    background-color: #F2E205 !important;
}

.bgMyYellow3{
    background-color: #BFB304 !important;
}

.bgMyYellow4{
    background-color: #736B02 !important;
}


/* Classes */
.fontAudiowide{
    font-family: 'Audiowide', cursive;
}

.separator{
    border: 4px solid #BFB304;
    width: 30%;
}

.myProgressBar{
    width: 100% !important;
}

.blockHabilidades{
    height: 200px;
    width: 200px;
}

.myBtnColor{
    color: #F2E205 !important;
}

.myBtnColor:hover{
    color: #0D0D0D !important;
    background-color: #F2E205 !important;
}

/* Color Theme Swatches in Hex */
.germany,hambourg,port-on-elbe-:-port-crane-1-hex { color: #EAF205; }
.germany,hambourg,port-on-elbe-:-port-crane-2-hex { color: #F2E205; }
.germany,hambourg,port-on-elbe-:-port-crane-3-hex { color: #BFB304; }
.germany,hambourg,port-on-elbe-:-port-crane-4-hex { color: #736B02; }
.germany,hambourg,port-on-elbe-:-port-crane-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.germany,hambourg,port-on-elbe-:-port-crane-1-rgba { color: rgba(234, 242, 4, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-2-rgba { color: rgba(242, 226, 4, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-3-rgba { color: rgba(191, 178, 3, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-4-rgba { color: rgba(114, 107, 2, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.germany,hambourg,port-on-elbe-:-port-crane-1-hsla { color: hsla(61, 96, 48, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-2-hsla { color: hsla(56, 96, 48, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-3-hsla { color: hsla(56, 96, 38, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-4-hsla { color: hsla(56, 96, 22, 1); }
.germany,hambourg,port-on-elbe-:-port-crane-5-hsla { color: hsla(0, 0, 5, 1); }
